:root {
  --abyss-black: #0d0d0d;
  --ashen-grey: #6e6e6e;
  --tarnished-gold: #c2a14d;
  --eldtree-glow: #dac27c;
  --rune-purple: #7d5ba6;
  --ember-red: #a3423c;
  --fog-silver: #a8a8a8;
  --stone-blue: #3b4252;

  --custom-gradient: linear-gradient(
    135deg,
    var(--rune-purple) 0%,
    var(--tarnished-gold) 50%,
    var(--ember-red) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("assets/bg-dark-fantasy.png"); /* Substitua por uma imagem com tema dark */
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  background-color: var(--abyss-black);
  color: var(--eldtree-glow);
}

body * {
  font-family: "Inter", sans-serif;
  line-height: 160%;
}

header {
  padding-top: 2em;
  display: flex;
  justify-content: center;
}

header img {
  width: 15rem;
}

main {
  max-width: 36rem;
  width: 90%;
  margin: 3rem auto;
}

section {
  background: var(--custom-gradient);
  border-radius: 0.625rem;
  padding-top: 4px;
}

section > div {
  padding: 1.5rem 2rem;
  background-color: var(--stone-blue);
  border-radius: 0.5rem;
}

section h2 {
  letter-spacing: -0.47px;
  color: var(--eldtree-glow);
}

section p {
  letter-spacing: -0.18px;
  color: var(--fog-silver);
}

form {
  display: flex;
  gap: 0.85rem;
  flex-wrap: wrap;
  margin: 1.25rem 0;
}

input,
select {
  all: unset;
  border: 2px solid var(--rune-purple);
  border-radius: 0.5rem;
  padding: 0.675rem;
  font-size: 0.875rem;
  background-color: rgba(26, 26, 26, 0.6);
  color: var(--eldtree-glow);
}

input {
  flex: 1;
}

button {
  width: 100%;
  border: 0;
  background: var(--custom-gradient);
  padding: 0.675rem;
  border-radius: 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.12px;
  transition: all 0.3s;
  color: #fff;
}

button:hover {
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0 5px 1rem rgba(255, 224, 107, 0.2);
}

button:disabled {
  transition: initial;
  transform: initial;
  box-shadow: initial;
  cursor: not-allowed;
}

#aiResponse {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  padding: 1.25rem;
  border-left: solid 4px var(--ember-red);
  text-align: justify;
}

#aiResponse p {
  color: rgba(255, 255, 255, 0.95);
}

#aiResponse ul {
  padding-left: 1.5rem;
  text-align: justify;
  opacity: 0.7;
}

.hidden {
  display: none;
}

/* animations */
main section {
  opacity: 0;
  transform: translateY(2rem);
  animation: appear 700ms forwards;
}

.loading {
  animation: pulse 1s infinite;
}

@keyframes appear {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
